Repository githubEshan/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8-api

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8-api:
  - changed-files:
      - any-glob-to-any-file:
          - 'zeebe/gateway-protocol/src/main/proto/rest-api.yaml'
          - 'zeebe/gateway-rest/**'
# to Forward-port PRs fixes to the deprecated java client classes in 8.7 (from 8.6)
backport main: # TODO replace with 'backport stable/8.7' once the stable branch is created https://github.com/camunda/camunda/issues/26820
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'stable/8.6'
# hint on changes done to the deprecated java client, and that might need to applied to the supported client
deprecated-client:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'main' # TODO replace with 'backport stable/8.7' in https://github.com/camunda/camunda/issues/26820

feat: fix some processInstance queries #24002
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/ProcessInstanceSearchColumn.java
  db/rdbms/src/main/resources/mapper/ProcessInstanceMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/ProcessInstanceFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceSortIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/processinstance/ProcessInstanceSpecificFilterIT.java
Labels: none

fix: prevent potential side effects by copying validated `persistedRecord` before processing
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/UserTaskProcessor.java
Labels: component/zeebe

refactor: extract command finalization in `UserTaskUpdateProcessor`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
Labels: component/zeebe

refactor: create and register `UserTask[Updating/Updated]V2Applier`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/EventAppliers.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskUpdatedV1Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskUpdatedV2Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskUpdatingV1Applier.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskUpdatingV2Applier.java
Labels: component/zeebe

build: match grpc versions for Operate and Zeebe client
  operate/pom.xml
Labels: component/operate

fix: Operate migration tests GHA needs to be fixed
  operate/qa/migration-tests/migration-test/src/test/java/io/camunda/operate/qa/migration/util/ConnectionHolder.java
  operate/qa/migration-tests/test-fixture-110/src/main/java/io/camunda/operate/qa/migration/v110/BigProcessDataGenerator.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContext.java
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/ZeebeTestUtil.java
Labels: component/operate

fix: fix SchemaChangesTest
  operate/qa/migration-tests/migration-test/src/test/java/io/camunda/operate/qa/migration/SchemaChangesTest.java
  operate/qa/migration-tests/test-fixture-110/src/main/resources/sequential-noop.bpmn
Labels: component/operate

feat: persist intermediate user task state in `UserTaskUpdatingV2Applier`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskUpdatingV2Applier.java
Labels: component/zeebe

feat: clear operational data after user task update in `UserTaskUpdatedV2Applier`
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskUpdatedV2Applier.java
Labels: component/zeebe

fix: properly write response for `UPDATED` user task event when request metadata is missing
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/usertask/processors/UserTaskUpdateProcessor.java
Labels: component/zeebe

test: fix tests by adding permissions when creating users
  qa/integration-tests/src/test/java/io/camunda/it/utils/CamundaClientTestFactory.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCreateProcessor.java
Labels: component/zeebe

feat: moved CamundaClientConfigurationDefaultPropertiesTest
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CamundaClientConfigurationDefaultPropertiesTest.java
Labels: component/zeebe

feat: moved ZeebeAnnotationValue to CamundaAnnotationValue
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/value/CamundaAnnotationValue.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/annotation/value/ZeebeAnnotationValue.java
Labels: component/zeebe

feat: moved ApiProperties
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/common/ApiProperties.java
Labels: component/zeebe

feat: moved ZeebeAnnotationProcessorRegistry to CamundaAnnotationProcessorRegistry
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/processor/CamundaAnnotationProcessorRegistry.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/annotation/processor/ZeebeAnnotationProcessorRegistry.java
Labels: component/zeebe

feat: moved BeanInfo
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/bean/BeanInfo.java
Labels: component/zeebe

feat: moved application-camunda-saas.yaml to modes/saas.yaml
  clients/spring-boot-starter-camunda-sdk/src/main/resources/application-camunda-saas.yaml
  clients/spring-boot-starter-camunda-sdk/src/main/resources/modes/saas.yaml
Labels: component/zeebe

feat: moved AbstractZeebeAnnotationProcessor to AbstractCamundaAnnotationProcessor
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/annotation/processor/AbstractCamundaAnnotationProcessor.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/annotation/processor/AbstractZeebeAnnotationProcessor.java
Labels: component/zeebe

feat: moved ZeebeActuatorConfiguration to CamundaActuatorConfiguration
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaActuatorConfiguration.java
Labels: component/zeebe

feat: moved AuthProperties to CamundaClientAuthProperties
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientAuthProperties.java
Labels: component/zeebe

feat: applying environment variables to credentials provider is optional
  clients/java/src/main/java/io/camunda/client/impl/oauth/OAuthCredentialsProviderBuilder.java
Labels: component/zeebe

feat: moved ZeebeClientAllAutoConfiguration to CamundaClientAllAutoConfiguration
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientAllAutoConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/ZeebeClientAllAutoConfiguration.java
Labels: component/zeebe

feat: moved application-camunda-self-managed.yaml to modes/self-managed.yaml
  clients/spring-boot-starter-camunda-sdk/src/main/resources/application-camunda-self-managed.yaml
  clients/spring-boot-starter-camunda-sdk/src/main/resources/modes/self-managed.yaml
Labels: component/zeebe

feat: moved ZeebeClientClosingEvent to CamundaClientClosingEvent
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/event/CamundaClientClosingEvent.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/event/ZeebeClientClosingEvent.java
Labels: component/zeebe

feat: moved AnnotationProcessorConfiguration
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/AnnotationProcessorConfiguration.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/AnnotationProcessorConfiguration.java
Labels: component/zeebe

feat: moved ZeebeBpmnError to CamundaBpmnError
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/exception/CamundaBpmnError.java
Labels: component/zeebe

feat: moved CamundaAutoConfiguration
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaAutoConfiguration.java
Labels: component/zeebe

feat: moved ActivatedJobParameterResolver
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/parameter/ActivatedJobParameterResolver.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/parameter/ActivatedJobParameterResolver.java
Labels: component/zeebe

feat: moved CamundaClientConfigurationImplSelfManagedTest
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CamundaClientConfigurationImplSelfManagedTest.java
Labels: component/zeebe

feat: moved ZeebeClientMetricsBridge to CamundaClientMetricsBridge
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/metrics/CamundaClientMetricsBridge.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/metrics/ZeebeClientMetricsBridge.java
Labels: component/zeebe

feat: moved CamundaClientConfigurationPropertiesTest
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CamundaClientConfigurationPropertiesTest.java
Labels: component/zeebe

feat: moved ZeebeClientExecutorService to CamundaClientExecutorService
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/jobhandling/CamundaClientExecutorService.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/jobhandling/ZeebeClientExecutorService.java
Labels: component/zeebe

feat: moved CamundaClientPropertiesTestConfig
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/properties/CamundaClientPropertiesTestConfig.java
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/zeebe/spring/client/properties/CamundaClientPropertiesTestConfig.java
Labels: component/zeebe

feat: moved ZeebeClientProdAutoConfiguration to CamundaClientProdAutoConfiguration
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientProdAutoConfiguration.java
Labels: component/zeebe

feat: moved ZeebeClientEventListener to CamundaClientEventListener
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/event/CamundaClientEventListener.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/event/ZeebeClientEventListener.java
Labels: component/zeebe

feat: moved ZeebeClientHealthIndicator to CamundaClientHealthIndicator
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/actuator/CamundaClientHealthIndicator.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/actuator/ZeebeClientHealthIndicator.java
Labels: component/zeebe

feat: moved ZeebeClientConfigurationProperties to CamundaClientConfigurationProperties
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/properties/CamundaClientConfigurationProperties.java
Labels: component/zeebe

feat: moved CamundaClientConfigurationImpl
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/configuration/CamundaClientConfigurationImpl.java
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/zeebe/spring/client/configuration/CamundaClientConfigurationImpl.java
Labels: component/zeebe

feat: moved CamundaClientConfigurationImplTest
  clients/spring-boot-starter-camunda-sdk/src/test/java/io/camunda/spring/client/config/CamundaClientConfigurationImplTest.java
Labels: component/zeebe

feat: moved ZeebeClientCreatedEvent to CamundaClientCreatedEvent
  clients/spring-boot-starter-camunda-sdk/src/main/java/io/camunda/spring/client/event/CamundaClientCreatedEvent.java
Labels: component/zeebe
