Repository githubEshan/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8-api

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8-api:
  - changed-files:
      - any-glob-to-any-file:
          - 'zeebe/gateway-protocol/src/main/proto/rest-api.yaml'
          - 'zeebe/gateway-rest/**'
# to Forward-port PRs fixes to the deprecated java client classes in 8.7 (from 8.6)
backport main: # TODO replace with 'backport stable/8.7' once the stable branch is created https://github.com/camunda/camunda/issues/26820
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'stable/8.6'
# hint on changes done to the deprecated java client, and that might need to applied to the supported client
deprecated-client:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'main' # TODO replace with 'backport stable/8.7' in https://github.com/camunda/camunda/issues/26820

test: ambiguous mappings test case
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/IndexSchemaValidatorIT.java
Labels: component/tasklist

feat: Add Filesystem backup store for hot backup #2287
  dist/pom.xml
  dist/src/main/java/io/camunda/zeebe/restore/BackupStoreComponent.java
  parent/pom.xml
  zeebe/backup-stores/filesystem/pom.xml
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FileSetManager.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupConfig.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupStore.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupStoreException.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/ManifestManager.java
  zeebe/broker/pom.xml
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/BackupStoreCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/FilesystemBackupStoreConfig.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupStoreTransitionStep.java
  zeebe/pom.xml
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: java client create auth command uses http post
  clients/java/src/main/java/io/camunda/client/api/response/CreateAuthorizationResponse.java
  clients/java/src/main/java/io/camunda/client/impl/command/CreateAuthorizationCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateAuthorizationResponseImpl.java
Labels: component/zeebe

refactor: enable it test to work with new auth creation
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/DecisionInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/ProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserSearchingAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/UserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/operate/OperatePermissionsIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistProcessDefinitionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistUnassignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistUnassignUserTaskAuthorizationIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/BasicAuthOverGrpcIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/BasicAuthOverRestIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverGrpcIT.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/authorization/OidcAuthOverRestIT.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/it/util/AuthorizationsUtil.java
Labels: component/zeebe

test: added integration test for resolving task listener incidents
  qa/integration-tests/pom.xml
  qa/integration-tests/src/test/java/io/camunda/it/ResolveIncidentsViaOperateIT.java
  qa/integration-tests/src/test/java/io/camunda/it/exporter/ExporterTestUtil.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/CamundaClientTestRequestHelper.java
  qa/integration-tests/src/test/resources/process/process-with-completing-user-task-listener.bpmn
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
Labels: none

refactor: Rename TestRestManagementClient to HistoryBackupClient
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/HistoryBackupClient.java
Labels: none

deps: fix unused dependency in zeebe/qa/gateway-protocol-impl
  zeebe/gateway-protocol-impl/pom.xml
Labels: component/zeebe

feat: add tests for filesystem backup #2287
  zeebe/backup-stores/filesystem/pom.xml
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FileSetManager.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupConfig.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupStore.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/ManifestManager.java
  zeebe/backup-stores/filesystem/src/test/java/io/camunda/zeebe/backup/filesystem/ConfigTest.java
  zeebe/backup-stores/filesystem/src/test/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupStoreIT.java
Labels: component/zeebe

feat: spotless (to squash)
  dist/src/main/java/io/camunda/zeebe/restore/BackupStoreComponent.java
  zeebe/backup-stores/filesystem/pom.xml
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FileSetManager.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupConfig.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupStore.java
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/ManifestManager.java
  zeebe/backup-stores/filesystem/src/test/java/io/camunda/zeebe/backup/filesystem/ConfigTest.java
  zeebe/backup-stores/filesystem/src/test/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupStoreIT.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/SystemContext.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/BackupStoreCfg.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/configuration/backup/FilesystemBackupStoreConfig.java
  zeebe/broker/src/main/java/io/camunda/zeebe/broker/system/partitions/impl/steps/BackupStoreTransitionStep.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: code clean-up #2287
  zeebe/backup-stores/filesystem/src/main/java/io/camunda/zeebe/backup/filesystem/ManifestManager.java
  zeebe/backup-stores/filesystem/src/test/java/io/camunda/zeebe/backup/filesystem/FilesystemBackupStoreIT.java
Labels: component/zeebe

BACKPORT-CONFLICT
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
Labels: component/zeebe, component/c8-api

refactor: align size of all string columns (ids, names) #24002
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
Labels: none

fix: add more variable tests and fix wildcard operator# 24002
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/typehandler/WildcardTransformingStringTypeHandler.java
  db/rdbms/src/main/resources/mapper/Commons.xml
  db/rdbms/src/test/java/io/camunda/db/rdbms/sql/typehandler/WildcardTransformingStringTypeHandlerTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/variables/VariableValueFilterIT.java
Labels: none

remove graalvm
  clients/zbctl/pom.xml
Labels: component/zeebe

remove graalvm
  clients/zbctl/pom.xml
Labels: component/zeebe

refactor: remove custom TS types for Carbon on Tasklist
  tasklist/client/package.json
  tasklist/client/src/Login/index.tsx
  tasklist/client/src/Processes/History/ProcessInstanceStateIcon/index.tsx
  tasklist/client/src/Processes/ProcessTile/index.tsx
  tasklist/client/src/StartProcessFromForm/FormJS/index.tsx
  tasklist/client/src/Tasks/AvailableTasks/Task/index.tsx
  tasklist/client/src/Tasks/AvailableTasks/index.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/FilterNameModal.tsx
  tasklist/client/src/Tasks/Task/FormJS/index.tsx
  tasklist/client/src/Tasks/Task/Variables/index.tsx
  tasklist/client/src/modules/components/AsyncActionButton/index.tsx
  tasklist/client/src/modules/components/CompleteTaskButton.tsx
  tasklist/client/src/modules/notifications/Notification/index.tsx
  tasklist/client/src/modules/theme/ThemeProvider.tsx
  tasklist/client/src/modules/theme/styles.module.scss
  tasklist/client/src/modules/types/carbon.d.ts
  tasklist/client/src/modules/utils/getCompletionButtonDescription.tsx
  tasklist/client/yarn.lock
Labels: component/tasklist

refactor: change prop values that are about to be deprecated
  tasklist/client/src/Tasks/AvailableTasks/Task/DateLabel.tsx
  tasklist/client/src/Tasks/AvailableTasks/Task/index.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/index.tsx
  tasklist/client/src/Tasks/Task/Variables/VariableEditor/index.tsx
Labels: component/tasklist

deps: deduplicate lockfile
  tasklist/client/yarn.lock
Labels: component/tasklist

feat: Implement basic document upload
  tasklist/client/package.json
  tasklist/client/src/Tasks/Task/FormJS/index.tsx
  tasklist/client/src/Tasks/Task/index.tsx
  tasklist/client/src/modules/api.ts
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/mutations/useUploadDocuments.tsx
  tasklist/client/yarn.lock
Labels: component/tasklist

deps: bump to form-js@1.11.1
  tasklist/client/package.json
  tasklist/client/src/modules/components/FormJSRenderer/getFieldLabels.test.tsx
  tasklist/client/yarn.lock
Labels: component/tasklist

build: update scss compiler to mute warnings
  tasklist/client/vite.config.ts
Labels: component/tasklist

refactor: remove unnecessary import
  tasklist/client/src/Processes/ProcessTile/FormModal/index.tsx
Labels: component/tasklist

feat: Upload multiple files
  tasklist/client/src/Processes/ProcessTile/FormModal/index.tsx
  tasklist/client/src/Processes/ProcessTile/index.tsx
  tasklist/client/src/Tasks/Task/FormJS/index.tsx
  tasklist/client/src/Tasks/Task/index.tsx
  tasklist/client/src/modules/api.ts
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/mutations/useStartProcess.tsx
  tasklist/client/src/modules/mutations/useUploadDocuments.tsx
Labels: component/tasklist

build: Add script for v2 API env
  tasklist/Makefile
  tasklist/client/vite.config.ts
Labels: component/tasklist

fix: fix document upload success filtering
  tasklist/client/src/modules/mutations/useUploadDocuments.tsx
Labels: component/tasklist

test: properly mock non-mocked requests
  tasklist/client/src/Layout/Header/tests/appSwitcher.test.tsx
  tasklist/client/src/Layout/Header/tests/infoBar.test.tsx
  tasklist/client/src/Layout/Header/tests/userInfo.test.tsx
  tasklist/client/src/Tasks/Task/Details/Aside.test.tsx
Labels: component/tasklist

fix: fail task completion on file upload error
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
Labels: component/tasklist

feat: Enrich variables with document upload metadata
  tasklist/client/src/Processes/ProcessTile/FormModal/index.test.tsx
  tasklist/client/src/Processes/ProcessTile/FormModal/index.tsx
  tasklist/client/src/Processes/ProcessTile/index.tsx
  tasklist/client/src/Tasks/Task/FormJS/index.test.tsx
  tasklist/client/src/Tasks/Task/FormJS/index.tsx
  tasklist/client/src/Tasks/Task/index.tsx
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/mutations/useUploadDocuments.tsx
Labels: component/tasklist

test: update baseline screenshots
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-consent-modal-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-custom-filters-modal-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-list-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-dark-theme-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-when-completed-task-before-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-expanded-side-panel-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-process-view-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tenant-on-task-detail-1-chromium-linux.png
Labels: component/tasklist

refactor: prepare Tasklist for API V2 endpoints
  tasklist/client/src/C3Provider.tsx
  tasklist/client/src/Processes/NewProcessInstanceTasksPolling.tsx
  tasklist/client/src/modules/api.ts
  tasklist/client/src/modules/mutations/useAssignTask.tsx
  tasklist/client/src/modules/mutations/useCompleteTask.tsx
  tasklist/client/src/modules/mutations/useStartExternalProcess.tsx
  tasklist/client/src/modules/mutations/useStartProcess.tsx
  tasklist/client/src/modules/mutations/useUnassignTask.tsx
  tasklist/client/src/modules/queries/useAllVariables.tsx
  tasklist/client/src/modules/queries/useCurrentUser.tsx
  tasklist/client/src/modules/queries/useExternalForm.tsx
  tasklist/client/src/modules/queries/useForm.tsx
  tasklist/client/src/modules/queries/useLicense.tsx
  tasklist/client/src/modules/queries/useProcessDefinition.tsx
  tasklist/client/src/modules/queries/useProcessInstances.tsx
  tasklist/client/src/modules/queries/useProcesses.tsx
  tasklist/client/src/modules/queries/useTask.tsx
  tasklist/client/src/modules/queries/useTasks.tsx
  tasklist/client/src/modules/queries/useVariables.tsx
  tasklist/client/src/modules/stores/authentication.tsx
Labels: component/tasklist

deps: bump to form-js@1.11.2
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

test: Fix Tasklist E2E tests
  tasklist/client/e2e/pageElements/TaskFormView.ts
  tasklist/client/e2e/tests/task-details.spec.ts
  tasklist/client/e2e/utils/waitForAssertion.ts
Labels: component/tasklist

test: remove .only
  tasklist/client/e2e/tests/task-details.spec.ts
Labels: component/tasklist

feat: add license expiration tag
  tasklist/client/package.json
  tasklist/client/src/Layout/Header/index.tsx
  tasklist/client/src/Layout/Header/tests/licenseNotice.test.tsx
  tasklist/client/src/modules/mock-schema/mocks/license.tsx
  tasklist/client/src/modules/types/index.tsx
  tasklist/client/yarn.lock
Labels: component/tasklist

deps: update c3 version
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

refactor: Remove unused code
  tasklist/client/src/Processes/History/ProcessInstanceStateIcon/index.tsx
  tasklist/client/src/Processes/History/ProcessInstanceStateIcon/styles.module.scss
  tasklist/client/src/Processes/History/Skeleton.tsx
  tasklist/client/src/Processes/History/index.test.tsx
  tasklist/client/src/Processes/History/index.tsx
  tasklist/client/src/Processes/History/styles.module.scss
  tasklist/client/src/Processes/index.tsx
  tasklist/client/src/modules/__mocks__/featureFlags.tsx
  tasklist/client/src/modules/featureFlags.tsx
  tasklist/client/src/modules/mock-schema/mocks/process-instances.tsx
  tasklist/client/src/modules/mockServer/handlers.tsx
Labels: component/tasklist

test: add remaining var to retry block
  tasklist/client/e2e/tests/task-details.spec.ts
Labels: component/tasklist

test: inline mock date
  tasklist/client/src/modules/mock-schema/mocks/license.tsx
Labels: component/tasklist

style: amend changes after additional info
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/DeleteFilterModal.tsx
  tasklist/client/src/Tasks/CollapsiblePanel/index.test.tsx
  tasklist/client/src/modules/internationalization/locales/de.json
  tasklist/client/src/modules/internationalization/locales/en.json
  tasklist/client/src/modules/internationalization/locales/es.json
  tasklist/client/src/modules/internationalization/locales/fr.json
Labels: component/tasklist

style: add missing full stop
  tasklist/client/src/modules/internationalization/locales/en.json
Labels: component/tasklist
