Repository githubEshan/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8-api

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8-api:
  - changed-files:
      - any-glob-to-any-file:
          - 'zeebe/gateway-protocol/src/main/proto/rest-api.yaml'
          - 'zeebe/gateway-rest/**'
# to Forward-port PRs fixes to the deprecated java client classes in 8.7 (from 8.6)
backport main: # TODO replace with 'backport stable/8.7' once the stable branch is created https://github.com/camunda/camunda/issues/26820
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'stable/8.6'
# hint on changes done to the deprecated java client, and that might need to applied to the supported client
deprecated-client:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'main' # TODO replace with 'backport stable/8.7' in https://github.com/camunda/camunda/issues/26820

test: revert login e2e test change
  operate/client/e2e-playwright/tests/login.spec.ts
  tasklist/client/e2e/tests/login.spec.ts
Labels: component/operate, component/tasklist

style: change layout and wording of modal dialog
  tasklist/client/src/Tasks/CollapsiblePanel/CustomFiltersModal/DeleteFilterModal.tsx
  tasklist/client/src/modules/internationalization/locales/de.json
  tasklist/client/src/modules/internationalization/locales/en.json
  tasklist/client/src/modules/internationalization/locales/es.json
  tasklist/client/src/modules/internationalization/locales/fr.json
Labels: component/tasklist

feat: save Tasklist OS notifications close on localStorage
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.module.scss
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.test.tsx
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.tsx
  tasklist/client/src/modules/utils/localStorage/index.tsx
Labels: component/tasklist

feat: Inject document service URL into Tasklist forms
  tasklist/client/src/modules/api.ts
  tasklist/client/src/modules/components/FormJSRenderer/index.test.tsx
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/mock-schema/mocks/form.tsx
Labels: component/tasklist

deps: bump form-js deps
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

test: make test assertion async
  tasklist/client/src/Login/index.test.tsx
Labels: component/tasklist

feat: Inject document service URL into Tasklist forms (#26222)
  tasklist/common/src/main/java/io/camunda/tasklist/property/SecurityProperties.java
Labels: component/tasklist

deps: bump to eslint v9
  tasklist/client/.eslintignore
  tasklist/client/.eslintrc
  tasklist/client/eslint.config.js
  tasklist/client/package.json
  tasklist/client/renameProdIndex.mjs
  tasklist/client/src/Tasks/CollapsiblePanel/index.test.tsx
  tasklist/client/src/modules/bpmn-js/BpmnJS.ts
  tasklist/client/src/modules/stores/newProcessInstance.tsx
  tasklist/client/src/modules/testing-library.ts
  tasklist/client/src/modules/types/bpmn-js.d.ts
  tasklist/client/src/modules/utils/formatDateRelative.test.ts
  tasklist/client/src/setupTests.ts
  tasklist/client/stylelint-plugin-license-header.js
  tasklist/client/yarn.lock
Labels: component/tasklist

test: update baseline screenshots
  tasklist/client/e2e/form-js-integration.spec.ts-snapshots/form-js-integration-check-if-Carbonization-is-working-1-chromium-linux.png
Labels: component/tasklist

deps: update deps
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

deps: bump tasklist deps
  tasklist/client/e2e/visual/login.spec.ts-snapshots/login-page-form-level-error-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-consent-modal-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-empty-search-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-empty-state-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-empty-state-dark-theme-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-loaded-processes-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-should-show-a-start-form-tag-1-chromium-linux.png
  tasklist/client/e2e/visual/processes-page.spec.ts-snapshots/processes-page-should-show-a-tenant-dropdown-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-custom-filters-modal-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-list-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-dark-theme-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-empty-state-when-completed-task-before-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-expanded-side-panel-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-process-view-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tenant-on-task-detail-1-chromium-linux.png
  tasklist/client/package.json
  tasklist/client/src/Layout/Header/tests/licenseNotice.test.tsx
  tasklist/client/src/OSNotifications.tsx
  tasklist/client/src/Tasks/Task/Variables/validators/index.test.tsx
  tasklist/client/src/modules/api.ts
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/hooks/useInterval.ts
  tasklist/client/yarn.lock
Labels: component/tasklist

test: update visual regression snapshot
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-process-view-1-chromium-linux.png
Labels: component/tasklist

deps: bump ts and prettier
  tasklist/client/e2e/visual-fixtures.ts
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

fix: prevent focus trap on Tasklist native OS notifications dialog
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.test.tsx
  tasklist/client/src/Tasks/Task/Details/TurnOnNotificationPermission.tsx
Labels: component/tasklist

fix: add bpmn-js outline module to Tasklist
  tasklist/client/src/modules/bpmn-js/BpmnJS.ts
Labels: component/tasklist

refactor: revert changes not related to Tasklist
  .github/workflows/operate-a11y.yml
  .github/workflows/operate-playwright.yml
  .github/workflows/operate-update-docs-screenshots.yml
  c8run/e2e_tests/package-lock.json
  identity/client/package.json
  identity/client/yarn.lock
  operate/client/.nvmrc
  operate/client/e2e-playwright/tests/login.spec.ts
  operate/client/package.json
  operate/client/yarn.lock
  optimize/client/package.json
  optimize/client/yarn.lock
Labels: component/operate, component/identity, component/optimize, component/build-pipeline

test: update baseline screenshots
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-all-open-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-completed-tasks-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-assigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-completed-task-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-with-variables-3-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-task-without-a-form-and-without-variables-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-selected-unassigned-task-with-form-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-assigned-to-me-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-due-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-follow-up-date-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-priority-1-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-tasks-ordered-by-priority-2-chromium-linux.png
  tasklist/client/e2e/visual/tasks-page.spec.ts-snapshots/tasks-page-unassigned-tasks-1-chromium-linux.png
Labels: component/tasklist

deps: bump deps
  tasklist/client/package.json
  tasklist/client/yarn.lock
Labels: component/tasklist

test: Modify mock data to prevent E2E test flakiness
  tasklist/client/e2e/resources/processWithStartNodeFormDeployed.bpmn
  tasklist/client/e2e/tests/processes-page.spec.ts
Labels: component/tasklist

test: Fix Operate E2E test
  operate/client/e2e-playwright/tests/login.spec.ts
Labels: component/operate

remove graalvm
  clients/zbctl/pom.xml
Labels: component/zeebe

fix: acknowledge retried correlate attempt
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/command/SubscriptionCommandSender.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageSubscriptionCorrelatedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/MessageCorrelationMultiplePartitionsTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/message/command/SubscriptionCommandSenderTest.java
  zeebe/test-util/src/main/java/io/camunda/zeebe/test/util/record/CompactRecordLogger.java
Labels: component/zeebe

refactor: inline method
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCorrelateProcessor.java
Labels: component/zeebe

fix: reject unnecessary correlate acknowledgement
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCorrelateProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/MessageSubscriptionCorrelatedApplier.java
Labels: component/zeebe

fix: improve acknowledgement rejection reasons
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/MessageSubscriptionCorrelateProcessor.java
Labels: component/zeebe

docs: remove no longer needed todo
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/message/ProcessMessageSubscriptionCorrelateProcessor.java
Labels: component/zeebe

test: add missing username
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistProcessDefinitionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistUnassignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistAssignUserTaskAuthorizationIT.java
Labels: none

fix: set ownerKey and permissions to authorizationRecord in AuthorizationCreateProcessor
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/identity/AuthorizationCreateProcessor.java
Labels: component/zeebe

feat: add license to CreateAuthorizationResponseImpl
  clients/java/src/main/java/io/camunda/client/impl/response/CreateAuthorizationResponseImpl.java
Labels: component/zeebe

build: refactor test config
  dist/src/main/java/io/camunda/optimize/OptimizeModuleConfiguration.java
  optimize/backend/pom.xml
  optimize/backend/src/it/java/io/camunda/optimize/AbstractIT.java
  optimize/backend/src/test/java/io/camunda/optimize/TestsEntry.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: cleanup
  optimize/backend/src/main/java/io/camunda/optimize/Main.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/OptimizeIndexNameService.java
Labels: component/optimize

build: better logs
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  optimize/backend/src/test/java/io/camunda/optimize/TestsEntry.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: remove @SpringBootApplication from legacy Main
  dist/src/main/java/io/camunda/application/StandaloneOptimize.java
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  optimize/backend/src/main/java/io/camunda/optimize/Main.java
  optimize/backend/src/main/java/io/camunda/optimize/service/db/es/OptimizeElasticsearchClientConfiguration.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/OptimizeIndexNameService.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/mapper/ObjectMapperFactory.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: remove spring autoconfig dependency
  optimize/backend/pom.xml
Labels: component/optimize

refactor: spotless
  dist/src/main/java/io/camunda/application/StandaloneOptimize.java
  dist/src/main/java/io/camunda/application/commons/backup/BackupPriorityConfiguration.java
  optimize/backend/src/main/java/io/camunda/optimize/Main.java
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/util/mapper/ObjectMapperFactory.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

build: adjust test configurator
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/schema/OptimizeIndexNameService.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/MultiDbConfigurator.java
Labels: component/optimize

build: dependency declaration
  qa/integration-tests/pom.xml
Labels: none

test: fix tasklist test by adding permission for admin
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistAssignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCompleteUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistCreateProcessInstanceAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistProcessDefinitionAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/TasklistUnassignUserTaskAuthorizationIT.java
  qa/integration-tests/src/test/java/io/camunda/it/tasklist/compatibility/CompatibilityTasklistAssignUserTaskAuthorizationIT.java
Labels: none

build: qualify bean
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchMetadataService.java
Labels: component/optimize

refactor: spotless
  optimize/util/optimize-commons/src/main/java/io/camunda/optimize/service/db/es/schema/ElasticSearchMetadataService.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/MultiDbConfigurator.java
Labels: component/optimize
