Repository githubEshan/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8-api

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8-api:
  - changed-files:
      - any-glob-to-any-file:
          - 'zeebe/gateway-protocol/src/main/proto/rest-api.yaml'
          - 'zeebe/gateway-rest/**'
# to Forward-port PRs fixes to the deprecated java client classes in 8.7 (from 8.6)
backport main: # TODO replace with 'backport stable/8.7' once the stable branch is created https://github.com/camunda/camunda/issues/26820
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'stable/8.6'
# hint on changes done to the deprecated java client, and that might need to applied to the supported client
deprecated-client:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'main' # TODO replace with 'backport stable/8.7' in https://github.com/camunda/camunda/issues/26820

ci: add release workflow for c8run
  .github/workflows/c8run-release.yaml
Labels: component/build-pipeline

refactor: query service health funcions
  c8run/main.go
Labels: none

fix: catch error in printStatus
  c8run/main.go
Labels: none

refactor: migrate from /api/authentications/user to /v2/me endpoint
  operate/client/src/App/AuthenticationCheck.test.tsx
  operate/client/src/App/DecisionInstance/Header/tests/multiTenancy.test.tsx
  operate/client/src/App/Decisions/Filters/tests/multiTenancy.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/appSwitcher.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/infoBar.test.tsx
  operate/client/src/App/Layout/AppHeader/tests/userInfo.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/multiTenancy.test.tsx
  operate/client/src/App/Processes/ListView/Filters/tests/multiTenancy.test.tsx
  operate/client/src/modules/api/v2/authentication/me.ts
  operate/client/src/modules/components/TenantField/index.test.tsx
  operate/client/src/modules/mocks/api/v2/me.ts
  operate/client/src/modules/stores/authentication.test.ts
  operate/client/src/modules/stores/authentication.ts
  operate/client/src/modules/testUtils.tsx
Labels: component/operate

test: fix mocked endpoint
  operate/client/src/modules/mocks/api/v2/me.ts
Labels: component/operate

test: migrate e2e tests to auth-basic profile
  .github/workflows/operate-e2e-tests.yml
  operate/Makefile
  operate/client/e2e-playwright/test-fixtures.ts
  operate/client/playwright.config.ts
Labels: component/operate, component/build-pipeline

test: include v2 endpoints in playwright url pattern
  operate/client/e2e-playwright/a11y/dashboard.spec.ts
  operate/client/e2e-playwright/a11y/decisionInstance.spec.ts
  operate/client/e2e-playwright/a11y/decisions.spec.ts
  operate/client/e2e-playwright/a11y/processInstance.spec.ts
  operate/client/e2e-playwright/a11y/processes.spec.ts
  operate/client/e2e-playwright/constants.ts
  operate/client/e2e-playwright/docs-screenshots/delete-finished-instances.spec.ts
  operate/client/e2e-playwright/docs-screenshots/delete-resource-definitions.spec.ts
  operate/client/e2e-playwright/docs-screenshots/get-familiar-with-operate.spec.ts
  operate/client/e2e-playwright/docs-screenshots/monitor-operation-status.spec.ts
  operate/client/e2e-playwright/docs-screenshots/process-instance-migration.spec.ts
  operate/client/e2e-playwright/docs-screenshots/process-instance-modification.spec.ts
  operate/client/e2e-playwright/docs-screenshots/selections-and-operations.spec.ts
  operate/client/e2e-playwright/docs-screenshots/self-managed-platform-deployment.spec.ts
  operate/client/e2e-playwright/docs-screenshots/variables-and-incidents.spec.ts
  operate/client/e2e-playwright/mocks/dashboard.mocks.ts
  operate/client/e2e-playwright/mocks/decisionInstance.mocks.ts
  operate/client/e2e-playwright/mocks/decisions.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/index.ts
  operate/client/e2e-playwright/mocks/processes.mocks.ts
  operate/client/e2e-playwright/visual/dashboard.spec.ts
  operate/client/e2e-playwright/visual/decisionInstance.spec.ts
  operate/client/e2e-playwright/visual/decisions.spec.ts
  operate/client/e2e-playwright/visual/migration.spec.ts
  operate/client/e2e-playwright/visual/modifications.spec.ts
  operate/client/e2e-playwright/visual/processInstance.spec.ts
  operate/client/e2e-playwright/visual/processes.spec.ts
Labels: component/operate

refactor: mock /v2/me endpoint
  operate/client/src/modules/mock-server/handlers.ts
Labels: component/operate

refactor: remove global read/write permissions
  operate/Makefile
  operate/client/e2e-playwright/mocks/dashboard.mocks.ts
  operate/client/e2e-playwright/mocks/decisionInstance.mocks.ts
  operate/client/e2e-playwright/mocks/decisions.mocks.ts
  operate/client/e2e-playwright/mocks/processInstance/index.ts
  operate/client/e2e-playwright/mocks/processes.mocks.ts
  operate/client/src/App/Decisions/Decision/index.tsx
  operate/client/src/App/Decisions/Decision/tests/decisionOperations.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/VariablesTable.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/index.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/tests/restrictedUser.test.tsx
  operate/client/src/App/ProcessInstance/BottomPanel/Variables/tests/restrictedUserWithResourceBasedPermissions.test.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/index.tsx
  operate/client/src/App/ProcessInstance/IncidentsWrapper/IncidentsTable/tests/index.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.test.tsx
  operate/client/src/App/ProcessInstance/ProcessInstanceHeader/index.tsx
  operate/client/src/App/Processes/ListView/DiagramPanel/DiagramHeader/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MigrateAction/permissions.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MoveAction/index.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/Toolbar/MoveAction/tests/permissions.test.tsx
  operate/client/src/App/Processes/ListView/InstancesTable/index.tsx
  operate/client/src/App/Processes/ListView/tests/processOperations.test.tsx
  operate/client/src/App/SessionWatcher.test.tsx
  operate/client/src/modules/components/Operations/index.tsx
  operate/client/src/modules/components/Restricted/index.tsx
  operate/client/src/modules/components/Restricted/tests/index.test.tsx
  operate/client/src/modules/components/Restricted/tests/resourceBasedPermissions.test.tsx
  operate/client/src/modules/stores/authentication.test.ts
  operate/client/src/modules/stores/authentication.ts
  operate/client/src/modules/testUtils.tsx
Labels: component/operate

refactor: remove mocked API
  operate/Makefile
  operate/client/src/modules/mock-server/handlers.ts
Labels: component/operate

fix: only provide user services when using consolidated-auth
  authentication/src/main/java/io/camunda/authentication/service/BasicCamundaUserService.java
  authentication/src/main/java/io/camunda/authentication/service/OidcCamundaUserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/BasicAuthenticationUserService.java
Labels: component/operate

test: skip login tests, fix listeners tests
  operate/Makefile
  operate/client/e2e-playwright/tests/login.spec.ts
  operate/client/e2e-playwright/tests/processInstanceListeners.spec.ts
Labels: component/operate

test: use consolidated-auth profile and unauthenticated api access
  .github/workflows/operate-e2e-tests.yml
  .github/workflows/tasklist-e2e-tests.yml
  operate/qa/integration-tests/src/test/java/io/camunda/operate/metric/UsageMetricIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/modules/ModuleAbstractIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/modules/OnlyWebappIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/OperateAbstractIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/it/ZeebeConnectorSecureIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/util/TasklistZeebeExtension.java
Labels: component/operate, component/tasklist, component/build-pipeline

fix: return user with read and write permission
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/BasicAuthenticationUserService.java
Labels: component/operate

feat: provide a shim for the authentication/me endpoint
  operate/webapp/src/main/java/io/camunda/operate/webapp/rest/AuthenticationCompatibilityRestService.java
Labels: component/operate

fix: replace basic auth profile in operate webapp
  .github/workflows/operate-e2e-tests.yml
  operate/Makefile
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/AuthUserService.java
  operate/webapp/src/main/java/io/camunda/operate/webapp/security/auth/BasicAuthenticationUserService.java
Labels: component/operate, component/build-pipeline

feat: use shared login and logout endpoints for operate
  dist/src/main/java/io/camunda/webapps/controllers/WebappsRequestForwardManager.java
  operate/client/e2e-playwright/tests/api/endpoints.ts
  operate/client/src/modules/api/login.ts
  operate/client/src/modules/api/logout.ts
  operate/client/src/modules/mocks/api/login.ts
  operate/client/src/modules/mocks/api/logout.ts
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

test: fix operate integration tests after auth profile changes
  operate/qa/integration-tests/src/test/java/io/camunda/operate/ProbesTestIT.java
  operate/qa/integration-tests/src/test/java/io/camunda/operate/util/WebSecurityDisabledConfig.java
Labels: component/operate

fix: expand heuristic for identifying frontend requests
  authentication/src/main/java/io/camunda/authentication/config/WebSecurityConfig.java
Labels: none

test: don't depend on user detail service in DevUtilExternalController
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/api/rest/v1/controllers/internal/DevUtilExternalController.java
Labels: component/tasklist

ci: use auth-basic profile for Operare in E2E tests
  .github/workflows/operate-e2e-tests.yml
Labels: component/operate, component/build-pipeline

test: ?
  operate/Makefile
Labels: component/operate

feat: used shared login and logout endpoints for tasklist
  tasklist/client/src/Login/index.test.tsx
  tasklist/client/src/modules/api.ts
  tasklist/client/src/modules/request.test.tsx
  tasklist/client/src/modules/stores/authentication.test.tsx
Labels: component/tasklist

fix: make ConditionalOnAuthenticationMethod work with default method
  authentication/src/main/java/io/camunda/authentication/ConditionalOnAuthenticationMethod.java
  authentication/src/main/java/io/camunda/authentication/config/AuthenticationProperties.java
  security/security-core/src/main/java/io/camunda/security/configuration/AuthenticationConfiguration.java
  security/security-core/src/main/java/io/camunda/security/entity/AuthenticationMethod.java
Labels: none

fix: add missing camunda-authentication dependencies
  operate/qa/util/pom.xml
  zeebe/exporters/rdbms-exporter/pom.xml
Labels: component/zeebe, component/operate

test: disable authentication for operate integration tests
  operate/qa/util/src/main/java/io/camunda/operate/qa/util/TestContainerUtil.java
Labels: component/operate

test: add tests for user task update command with `updating` listeners
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

test: extract reusable method for verifying listener job retries in `TaskListenerTest`
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

test: extract reusable method for verifying listener job failures leading to incidents
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

test: verify execution of all `assigning` listeners on unassignment after assignment
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/bpmn/activity/listeners/task/TaskListenerTest.java
Labels: component/zeebe

fix: reset the `assigning` task listener index after each successul assignment
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/UserTaskAssignedV2Applier.java
Labels: component/zeebe

refactor: move getBaseCommand in own function
  c8run/main.go
Labels: none

refactor: return cmd settings in its own function
  c8run/main.go
Labels: none

refactor: move docker cmd hanlding in own function
  c8run/main.go
Labels: none

fix: resolve linter error
  c8run/main.go
Labels: none

fix: remove default path as else error for case package is thrown
  c8run/main.go
Labels: none

https://github.com/camunda/camunda/issues/26687
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/ArchitectureTest.java
  zeebe/util/src/main/java/io/camunda/zeebe/util/VisibleForTesting.java
Labels: component/zeebe

Initial Commit: ArchUnit Test for methods annotated with VisibleForTesting
  zeebe/util/src/main/java/io/camunda/zeebe/util/VisibleForTesting.java
Labels: component/zeebe

feat: doc handling zeebe client
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentBatchCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentLinkCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/DeleteDocumentCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/DocumentBuilderStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DeleteDocumentResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentLinkResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentMetadata.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/worker/JobClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentBatchCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentLinkCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/DeleteDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentLinkResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentMetadataImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceBatchResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/response/DocumentReferenceResponseImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/util/DocumentBuilder.java
Labels: component/zeebe

feat: add Create and Get document command to zeebe client
  clients/java/src/main/java/io/camunda/zeebe/client/ZeebeClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/command/CreateDocumentCommandStep1.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/fetch/DocumentContentGetRequest.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/response/DocumentReferenceResponse.java
  clients/java/src/main/java/io/camunda/zeebe/client/api/worker/JobClient.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/ZeebeClientImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/command/CreateDocumentCommandImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/fetch/DocumentContentGetRequestImpl.java
  clients/java/src/main/java/io/camunda/zeebe/client/impl/http/HttpClient.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentBatchTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentLinkTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/DeleteDocumentTest.java
Labels: component/zeebe
