Repository githubEshan/camunda, changes with the labels that .github/labeler.yml gives for each.
All labels: component/zeebe, component/operate, component/identity, component/tasklist, component/optimize, component/build-pipeline, component/c8-api

.github/labeler.yml:

component/zeebe:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/zeebe-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/zeebe-*'
        - 'Dockerfile'
        - 'bom/*'
        - 'build-tools/**'
        - 'camunda.Dockerfile'
        - 'clients/**'
        - 'dist/**'
        - 'monitor/**'
        - 'parent/*'
        - 'pom.xml'
        - 'zeebe/**'
component/operate:
  - changed-files:
    - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/operate-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/operate-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'operate.Dockerfile'
        - 'operate/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/identity:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/identity-*'
          - 'camunda.Dockerfile'
          - 'identity/**'
component/tasklist:
  - changed-files:
      - any-glob-to-any-file:
          - '.ci/docker/test/*'
          - '.github/ISSUE_TEMPLATE/tasklist-*'
          - '.github/actions/**'
          - '.github/renovate.json'
          - '.github/workflows/tasklist-*'
          - 'bom/*'
          - 'camunda.Dockerfile'
          - 'dist/**'
          - 'parent/*'
          - 'pom.xml'
          - 'tasklist/**'
          - 'tasklist.Dockerfile'
          - 'webapps-common/**'
component/optimize:
  - changed-files:
      - any-glob-to-any-file:
        - '.ci/docker/test/*'
        - '.github/ISSUE_TEMPLATE/optimize-*'
        - '.github/actions/**'
        - '.github/renovate.json'
        - '.github/workflows/optimize-*'
        - 'bom/*'
        - 'camunda.Dockerfile'
        - 'dist/**'
        - 'optimize.Dockerfile'
        - 'optimize/**'
        - 'parent/*'
        - 'pom.xml'
        - 'webapps-common/**'
component/build-pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/**'
          - '.github/workflows/**'
          - '.github/actionlint*'
          - 'maven-settings.xml'
component/c8-api:
  - changed-files:
      - any-glob-to-any-file:
          - 'zeebe/gateway-protocol/src/main/proto/rest-api.yaml'
          - 'zeebe/gateway-rest/**'
# to Forward-port PRs fixes to the deprecated java client classes in 8.7 (from 8.6)
backport main: # TODO replace with 'backport stable/8.7' once the stable branch is created https://github.com/camunda/camunda/issues/26820
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'stable/8.6'
# hint on changes done to the deprecated java client, and that might need to applied to the supported client
deprecated-client:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'clients/java/src/main/java/io/camunda/zeebe/**'
              - 'clients/java/src/test/java/io/camunda/zeebe/**'
      - base-branch: 'main' # TODO replace with 'backport stable/8.7' in https://github.com/camunda/camunda/issues/26820

refactor: PrefixMigrationClient for prefix migration actions.
  zeebe/exporters/camunda-exporter/pom.xml
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/PrefixMigrationClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/SearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchPrefixMigrationClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchEngineClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchPrefixMigrationClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/CloneResult.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/utils/SearchEngineClientUtils.java
Labels: component/zeebe

refactor: moved completable future logic to dist
  dist/src/main/java/io/camunda/application/StandalonePrefixMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/PrefixMigrationHelper.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ClientAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/ElasticsearchAdapter.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/adapters/OpensearchAdapter.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/CamundaExporterTest.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: SchemaManagerHelper now returns ClientAdapter
  dist/src/main/java/io/camunda/application/StandalonePrefixMigration.java
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  dist/src/main/java/io/camunda/application/commons/migration/SchemaManagerHelper.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

refactor: cloning historic indices now in dist
  dist/src/main/java/io/camunda/application/StandalonePrefixMigration.java
  dist/src/main/java/io/camunda/application/commons/migration/PrefixMigrationHelper.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/PrefixMigrationClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/elasticsearch/ElasticsearchPrefixMigrationClient.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/schema/opensearch/OpensearchPrefixMigrationClient.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

feat: renamed camunda.database.index-prefix property to camunda.database.prefix
  dist/src/main/java/io/camunda/application/StandaloneSchemaManager.java
  dist/src/main/java/io/camunda/application/commons/identity/WebSessionRepositoryConfiguration.java
  dist/src/main/java/io/camunda/application/commons/rdbms/MyBatisConfiguration.java
  dist/src/main/java/io/camunda/application/commons/search/SearchClientDatabaseConfiguration.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/es/ElasticsearchAdapter.java
  migration/process-migration/src/main/java/io/camunda/migration/process/adapter/os/OpensearchAdapter.java
  migration/process-migration/src/test/java/io/camunda/migration/process/it/AdapterTest.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/TablePrefixIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  search/search-client-connect/src/main/java/io/camunda/search/connect/configuration/ConnectConfiguration.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/tasks/BackgroundTaskManagerFactory.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/archiver/OpenSearchArchiverRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/batchoperations/BatchOperationUpdateRepositoryIT.java
  zeebe/exporters/camunda-exporter/src/test/java/io/camunda/exporter/tasks/incident/IncidentUpdateRepositoryIT.java
Labels: component/zeebe, component/operate, component/tasklist, component/optimize

fix: adapt c8run to auth config changes
  c8run/main.go
  c8run/main_test.go
Labels: none

feat: engine unassigns users from tenants by id
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantProcessors.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/tenant/TenantRemoveEntityProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/user/UserDeleteProcessor.java
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/appliers/TenantEntityRemovedApplier.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/distribution/CommandDistributionIdempotencyTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/RemoveEntityTenantMultiPartitionTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/RemoveEntityTenantTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/tenant/TenantDeleteProcessorTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/user/DeleteUserTest.java
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/util/client/TenantClient.java
Labels: component/zeebe

feat: adjust api to unassign users from tenants by idI
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-protocol/vacuum-ignores.yaml
Labels: component/zeebe, component/c8-api

feat: services unassign users from tenants by id
  service/src/main/java/io/camunda/service/TenantServices.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
Labels: component/zeebe, component/c8-api

feat: client unassigns users from tenants by id
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/RemoveUserFromTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/RemoveUserFromTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/RemoveUserFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/RemoveUserFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeAssertHelper.java
Labels: component/zeebe

test: remove broken test for cleaning up mapping to tenant memberships
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/processing/mapping/MappingTest.java
Labels: component/zeebe

test: disable broken test for unassigning mappings from tenants
  zeebe/engine/src/test/java/io/camunda/zeebe/engine/state/appliers/TenantAppliersTest.java
Labels: component/zeebe

test: disable broken test for unassigning groups from tenants
  clients/java/src/test/java/io/camunda/client/tenant/UnassignGroupFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignGroupFromTenantTest.java
Labels: component/zeebe

test: fix failing tests
  clients/java/src/test/java/io/camunda/client/CamundaClientTest.java
  operate/common/src/test/java/io/camunda/operate/connect/OpensearchConnectorTest.java
  search/search-client-connect/src/test/java/io/camunda/search/connect/os/OpensearchConnectorTest.java
  tasklist/common/src/test/java/io/camunda/tasklist/os/OpensearchConnectorTest.java
Labels: component/zeebe, component/operate, component/tasklist

test: verify tenant search authorization checks
  qa/integration-tests/src/test/java/io/camunda/it/auth/TenantAuthorizationIT.java
Labels: none

fix: add authentication to tenant search requests
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
Labels: component/zeebe, component/c8-api

feat: add request limit to tasklist client config payload
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/webapp/rest/ClientConfigRestServiceIT.java
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/rest/ClientConfig.java
Labels: component/tasklist

feat: Handle file upload payload exception
  tasklist/client/src/modules/components/FormJSRenderer/FormLevelErrorMessage.tsx
  tasklist/client/src/modules/components/FormJSRenderer/ValidationMessage.tsx
  tasklist/client/src/modules/components/FormJSRenderer/index.test.tsx
  tasklist/client/src/modules/components/FormJSRenderer/index.tsx
  tasklist/client/src/modules/components/FormJSRenderer/styles.module.scss
  tasklist/client/src/modules/internationalization/locales/de.json
  tasklist/client/src/modules/internationalization/locales/en.json
  tasklist/client/src/modules/internationalization/locales/es.json
  tasklist/client/src/modules/internationalization/locales/fr.json
  tasklist/client/src/modules/types/global.d.ts
  tasklist/client/src/modules/utils/toHumanReadableBytes.test.ts
  tasklist/client/src/modules/utils/toHumanReadableBytes.ts
Labels: component/tasklist

refactor: Fix linting issue
  tasklist/webapp/src/main/java/io/camunda/tasklist/webapp/rest/ClientConfig.java
Labels: component/tasklist

feat: don't expose tenant key in api
  authentication/src/main/java/io/camunda/authentication/CamundaUserDetailsService.java
  authentication/src/test/java/io/camunda/authentication/filters/TenantRequestAttributeFilterTest.java
  clients/java/src/main/java/io/camunda/client/api/response/CreateTenantResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/UpdateTenantResponse.java
  clients/java/src/main/java/io/camunda/client/impl/command/UpdateTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/CreateTenantResponseImpl.java
  clients/java/src/main/java/io/camunda/client/impl/response/UpdateTenantResponseImpl.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/TenantMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/UserTenantsMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UserTenantsMigrationHandlerTest.java
  qa/integration-tests/src/test/java/io/camunda/it/auth/BasicAuthIT.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/entity/TenantEntityTransformer.java
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/filter/TenantFilterTransformer.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/filter/TenantQueryTransformerTest.java
  search/search-client-query-transformer/src/test/java/io/camunda/search/clients/transformers/sort/TenantSortTest.java
  search/search-domain/src/main/java/io/camunda/search/entities/TenantEntity.java
  search/search-domain/src/main/java/io/camunda/search/filter/TenantFilter.java
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/RequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/ResponseMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryRequestMapper.java
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/SearchQueryResponseMapper.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignUserToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/CreateTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/DeleteTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UpdateTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/util/ZeebeAssertHelper.java
  zeebe/qa/util/src/main/java/io/camunda/zeebe/it/util/AuthorizationsUtil.java
Labels: component/zeebe, component/c8-api

feat: remove tenant key from rdbms exporter
  db/rdbms-schema/src/main/resources/db/changelog/rdbms-exporter/changesets/8.8.0.xml
  db/rdbms/src/main/java/io/camunda/db/rdbms/read/service/TenantReader.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/sql/columns/TenantSearchColumn.java
  db/rdbms/src/main/java/io/camunda/db/rdbms/write/domain/TenantDbModel.java
  db/rdbms/src/main/resources/mapper/TenantMapper.xml
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/fixtures/TenantFixtures.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/tenant/TenantIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/tenant/TenantSortIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/db/tenant/TenantSpecificFilterIT.java
  qa/integration-tests/src/test/java/io/camunda/it/rdbms/exporter/RdbmsExporterIT.java
  zeebe/exporters/rdbms-exporter/src/main/java/io/camunda/exporter/rdbms/handlers/TenantExportHandler.java
Labels: component/zeebe

fix: remove key-based tenant assignment from api
  service/src/main/java/io/camunda/service/TenantServices.java
  service/src/test/java/io/camunda/service/TenantServiceTest.java
  zeebe/gateway-protocol/src/main/proto/rest-api.yaml
  zeebe/gateway-rest/src/main/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantController.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantControllerTest.java
  zeebe/gateway-rest/src/test/java/io/camunda/zeebe/gateway/rest/controller/tenant/TenantQueryControllerTest.java
  zeebe/gateway/src/main/java/io/camunda/zeebe/gateway/impl/broker/request/BrokerTenantEntityRequest.java
Labels: component/zeebe, component/c8-api

fix: remove key-based tenant assignment from client
  clients/java/src/main/java/io/camunda/client/CamundaClient.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignGroupToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/AssignMappingToTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/command/UnassignGroupFromTenantCommandStep1.java
  clients/java/src/main/java/io/camunda/client/api/response/AssignGroupToTenantResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/AssignMappingToTenantResponse.java
  clients/java/src/main/java/io/camunda/client/api/response/UnassignGroupFromTenantResponse.java
  clients/java/src/main/java/io/camunda/client/impl/CamundaClientImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignGroupToTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/AssignMappingToTenantCommandImpl.java
  clients/java/src/main/java/io/camunda/client/impl/command/UnassignGroupFromTenantCommandImpl.java
  clients/java/src/test/java/io/camunda/client/tenant/AssignGroupToTenantTest.java
  clients/java/src/test/java/io/camunda/client/tenant/AssignMappingToTenantTest.java
  clients/java/src/test/java/io/camunda/client/tenant/UnassignGroupFromTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignGroupToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/AssignMappingToTenantTest.java
  zeebe/qa/integration-tests/src/test/java/io/camunda/zeebe/it/client/command/UnassignGroupFromTenantTest.java
Labels: component/zeebe

fix: remove key-based tenant assignment from migration
  migration/identity-migration/src/main/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandler.java
  migration/identity-migration/src/main/java/io/camunda/migration/identity/UserTenantsMigrationHandler.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/TenantMappingRuleMigrationHandlerTest.java
  migration/identity-migration/src/test/java/io/camunda/migration/identity/UserTenantsMigrationHandlerTest.java
Labels: none

feat: remove tenant key from camunda exporter
  search/search-client-query-transformer/src/main/java/io/camunda/search/clients/transformers/sort/TenantFieldSortingTransformer.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/usermanagement/index/TenantIndex.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/entities/usermanagement/TenantEntity.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TenantCreateUpdateHandler.java
  zeebe/exporters/camunda-exporter/src/main/java/io/camunda/exporter/handlers/TenantDeletedHandler.java
Labels: component/zeebe

feat: backup & restore e2e test with standalond camunda and Elasticsearch
  qa/integration-tests/src/test/java/io/camunda/it/backup/BackupRestoreIT.java
  qa/integration-tests/src/test/java/io/camunda/it/utils/MultiDbConfigurator.java
  qa/util/pom.xml
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestOperateOpenSearchSchemaManager.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestRestManagementClient.java
  qa/util/src/main/java/io/camunda/qa/util/cluster/TestStandaloneCamunda.java
  webapps-backup/src/main/java/io/camunda/webapps/backup/BackupServiceImpl.java
  webapps-schema/src/main/java/io/camunda/webapps/schema/descriptors/backup/SnapshotIndexCollection.java
Labels: none

docs: explicitly mention all versions
  zeebe/engine/src/main/java/io/camunda/zeebe/engine/state/instance/ElementInstance.java
Labels: component/zeebe

ci: run migration test suite on stable branch
  .github/workflows/operate-test-migrate-elasticsearch-data.yml
Labels: component/operate, component/build-pipeline

test: migrate VariableQueryTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/VariableQueryTest.java
Labels: none

test: migrate UserTaskQueryTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/UserTaskQueryTest.java
Labels: none

test: migrate DeleteDocumentTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/DeleteDocumentTest.java
Labels: none

test: migrate CreateDocumentTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentTest.java
Labels: none

test: migrate DecisionInstanceQueryTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionInstanceQueryTest.java
Labels: none

test: migrate GetDocumentContentTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/GetDocumentContentTest.java
  qa/integration-tests/src/test/java/io/camunda/it/client/IncidentQueryTest.java
Labels: none

test: migrate DecisionQueryTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/DecisionQueryTest.java
Labels: none

test: migrate ProcessDefinitionQueryTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/ProcessDefinitionQueryTest.java
Labels: none

ci: reduce concurrency
  .github/workflows/ci.yml
Labels: component/build-pipeline

test: migrate CreateDocumentBatchTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentBatchTest.java
Labels: none

test: migrate CreateDocumentLinkTest to new foundation
  qa/integration-tests/src/test/java/io/camunda/it/client/CreateDocumentLinkTest.java
Labels: none

fix: allow dynamic fields in the validator
  tasklist/els-schema/src/main/java/io/camunda/tasklist/util/IndexSchemaValidatorUtil.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/es/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/java/io/camunda/tasklist/os/IndexSchemaValidatorIT.java
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-elasticsearch-schema-validator.json
  tasklist/qa/integration-tests/src/test/resources/tasklist-test-opensearch-schema-validator.json
Labels: component/tasklist
